@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #23252c;
  font-family: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.container {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 44px;
}
img {
  width: 300px;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  margin: 0;
}
.info {
  background-color: #f5f5f5;
  padding-bottom: 32px;
  padding-top: 20px;
  margin: 0;
}
.name {
  margin: 0;
  font-size: 25px;
  color: #2b283a;
}

.title {
  margin: 0;
  color: #f47d27;
  padding-top: 10px;
  font-size: 16px;
}

.small {
  margin: 0;
  padding-top: 10px;
  color: #4a4e74;
  font-size: 12px;
}
.buttons {
  text-decoration: none;
  display: inline-block;
  align-items: center;
  border: 1px solid #d1d5db;

  padding: 8px 8px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px lightgrey;
  margin: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: ease background-color 250ms;
}
.buttons:hover {
  background-color: rgb(172, 175, 175);
}
.about {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 300px;
  padding: 0 25px 23px 25px;
}
.title {
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
}
.text {
  padding-top: 10px;
  margin: 0;
  font-size: 12px;
  color: #4a4e74;
  line-height: 1.5;
}
.footer {
  display: flex;
  background-color: #d5d4d8;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #959599;
  font-size: 30px;
}
i {
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}
